#library.clearfix
  .headers.clearfix
    %h3 Select Artist
    %h3 Add Albums / Tracks
  #artists
    %ol
      - itunes.artists.each do |artist|
        %li{:class => (current_artist == artist ? 'selected' : '')}
          = link_to artist, :artist => artist, :html => {:class => "artist#{current_artist == artist ? ' selected' : ''}"}
  #albums
    = partial :album, :locals => {:albums => (@albums || [])}