#library.clearfix
  .headers.clearfix
    %h3 Select Artist
    %h3 Add Albums / Tracks
  #artists
    %ol
      - itunes.artists.each do |artist|
        %li= link_to artist, :artist => artist  
  #albums
    - if params[:artist]
      - itunes.find_albums_by_artist(params[:artist]).each do |album, tracks|
        %h4= link_to album, :do => :add_album, :album => album
        %ol
          - tracks.each do |track|
            %li= link_to track.title, :do => :add, :index => track.library_index