#playlist
  %table.header
    %tr
      %th Song
      %th.artist Artist
      %th Remove 
  .box
    %table  
      - unless itunes.playlist_empty?
        - i = true
        - itunes.current_tracks_with_indexes.each do |track, index|
          %tr{ :class => (i ? 'even' : 'odd')}
            %td= link_to track.title, :do => :skip, :index => index
            %td.artist= link_to track.artist, :do => :skip, :index => index
            %td= link_to 'remove', :do => :remove, :index => index
            - i = !i
      - else
        %tr
          %td{:colspan => '3'} 
            %em Playlist is empty.