!!!Strict
%html{html_attrs('en')}
  %head
    %meta{'http-equiv' => 'content-Type', :content => 'text/html; charset=utf-8'}/
    = #stylesheet_link_tag 'stylesheet', 'slider_skin'
    = stylesheet_link_tag 'stylesheet'
    = javascript_include_tag 'jquery-1.3', 'ui.core', 'ui.slider', 'application'

    %title iTunes Library Controller - [controllercontroller]
  %body
    #header.clearfix
      %h1 
        iTunes Library Controller
        %span [controllercontroller]
    #container= yield
    