*
  :margin 0
  :padding 0
  :font-size 12px
  :font-family 'lucida grande', 'lucida sans unicode'
  :font-weight normal

body
  :background white
  :color black

a
  :outline 0
  :color black
  :text-decoration none
  
.clear, .clearfix:after 
  :clear both
  :display block
  :height 0
  :width 0
  :overflow hidden
  :visibility hidden
.clearfix:after 
  :content " "
  
#header
  :background url(/images/bgs/header.png) 0 0 repeat-x
  :height 32px
  :margin-bottom 10px
  :position relative  
  h1
    :font-weight bold
    :height 22px
    :padding-top 1.5px
    :margin-left 20px
    :text-indent 32px
    :font-size 13.5px
    :background url(/images/icons/apple.png) 0 0 no-repeat
    span
      :position absolute
      :font-size 12px
      :top 3px
      :right 20px

#footer
  :background url(/images/bgs/footer.png) 0 0 no-repeat
  :width 870px
  :height 80px

#container
  :width 870px
  :margin 10px auto 0
  :background url(/images/bgs/body.png) 0 0 repeat-y
  .inner
    :margin 0 36px

#control_box
  :height 96px
  :overflow hidden
  :background url(/images/bgs/control_box.png) 0 0 no-repeat
  .inner
    :margin 0 60px
    :padding-top 23px
    :height 65px
    :text-align center
    :position relative
    
#current 
  h2
    :font-size 13px
  h3.empty
    :font-size 15px
    :position relative
    :top 12px
    :opacity 0.6
  
#active_song
  :margin 3px auto 0
  :padding 2.4px 0 0
  :width 340px
  :height 46px
  :background url(/images/bgs/active_song.png) 0 0 no-repeat      
  h3, h4, h5
    :font-size 10.9px
    
#controls
  :position absolute
  :bottom 3px
  :left 0
  :width 190px
  div
    :float left
    div a
      :display block
      :text-indent -999em
  .active
    :margin-right 26px
    a
      :width 37px   
      :height 38px   
      :background url(/images/buttons/play_pause.png) left top no-repeat
    .pause a
      :background-position left bottom   
  .muting, .playlist_clear
    :position absolute
    :right -565px
    :bottom -4px
    :width 55px 
    div
      :float none
    a
      :background url(/images/buttons/mute.png) left top no-repeat
      :width 26px
      :height 22px
      :margin 0 auto
    div.muted a
      :background-position left bottom  
    h4
      :font-size 11px     
      :margin-top 4px
  .playlist_clear
    :right -490px
    :width 80px
    a
      :background url(/images/buttons/clear.png) left top no-repeat
  .volume
    :width 107px
    :overflow hidden
    :background url(/images/bgs/volume.png) 0 0 no-repeat
    :height 12px
    :margin-top 15px
  .ui-slider  
    :width 67px 
    :height 12px 
    :position relative 
    :left 12px
  .ui-slider-handle  
    :position absolute 
    :z-index 1 
    :height 12px 
    :width 12px 
    :top 0 
    :left 0
    :background url(/images/buttons/volume.png) 0 0 no-repeat   
  .ui-slider, .ui-slider-1, .ui-slider-handle   
    :cursor pointer        
      
#playlist
  .box
    :max-height 280px
    :width 797px
    :overflow-y scroll
    :overflow-x hidden
  table
    :border-collapse collapse
    :width 783px
    tr:hover td
      :background #fff88a !important
    tr.odd
      th, td
        :background #f1f5fa
    th, td
      :padding 4px 5px
    td  
      &:last-child
        :width 50px
    th
      :font-size 10px
      :font-weight bold
      :height 15px
      :padding 1px 5px 0
      :border-bottom 1px solid #555
      :border-top 1px solid #7f7f7f
      :background url(/images/bgs/table_heading.png) left top repeat
      &:first-child
        :text-align left     
        :background-position right top
      &.artist
        :text-align left  
    td  
      &.artist, &:last-child
        :border-left 1px solid #d9d9d9
      &.artist  
        :width 320px
      &:last-child
        a
          :text-indent -999em
          :width 12px
          :height 12px
          :background url(/images/buttons/remove.png) 0 0 no-repeat
          :position relative
          :left 23.5px
          &:hover
            :opacity 0.8
      a
        :font-size 11px 
        :display block 
    &.header
      :width 797px 
      th
        &:last-child
          :width 65px         
        &.artist
          :width 321px  
          
#library
  :width 797px
  :background white url(/images/bgs/library.png) left bottom repeat-x        
  :padding-bottom 8px
  h3
    :height 14.5px
    :overflow hidden
    :background url(/images/bgs/browser.png) left top no-repeat
    :text-align center
    :font-weight bold
    :font-size 10px
    :padding-top 1.5px
    :border-bottom 1px solid #555
    :width 398px
    :float left

#library h3:last-child, #albums
  :border-left 1px solid #555

#artists, #albums
  :float left 
  :overflow-y scroll
  :overflow-x hidden
  :height 220px
  :border-bottom 1px solid #7f7f7f
  :width 398px
  li
    :padding 2px 5px
    a
      :font-size 11.3px
      :display block
    .selected
      :background #3d80df
      :color white
  .selected
    :background #3d80df
    :color white
  li, h4  
    &:hover
      :background #3d80df
      :color white
      a
        :color white
        :background-position right bottom !important

#albums    
  h4, li
    a
      :background url(/images/buttons/add.png) right 2px no-repeat
      :display block
      :font-size 11.3px
  h4
    :padding 2px 5px
    :border solid #efefef
    :border-width 1px 0
    &:first-child
      :border-top 0  
    a  
      :font-weight bold
  li
    &:last-child
      :padding-bottom 3px